.nav {
    display: flex;
    flex-flow: column wrap;
    max-width: 0px;
    background-color: red;
    transition: all ease-in-out 0.2s;
    min-height: 50px;

    &.opened {
        max-width: 200px;
    }

    section.nav--header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
